body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('/images/site/checkerboard.jpg'); 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white; 
	width: 80%; 
	margin: 20px auto; 
	border: 5px solid #00bfff; 
  border-radius: 7px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header,
.footer {
	background-color: white;
	color: black;
	text-align: center;
	padding: 2em;
}

.header {
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	padding: 10px 20px; 
	background-color: #f1f1f1;
}

.header h1 {
	margin: 0; 
	padding: 15px;
}

.account a {
	text-decoration: none;
	color: #000; 
}

.account a:hover {
	text-decoration: underline; 
}

.footer {
	text-align: start;
	font-weight: bold;
}

nav ul {
	display: flex;
	justify-content: space-around;
	background-color: #444; 
	padding: 0;
	list-style: none;
	margin: 0;
}

nav ul li a {
	color: white;
	text-decoration: none;
	padding: 1em;
	display: block;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
	position: relative; 
	text-align: center; 
	padding: 20px;
	background-color: white; 
}

.hero img {
	width: 100%; 
	max-width: 600px; 
	height: auto; 
	display: block; 
	margin: 0 auto; 
	border-radius: 10px; 
}

.sub-hero {
	position: absolute; 
	top: 50%; 
	left: 30%; 
	transform: translate(-50%, -50%); 
	background-color: rgba(
		255,
		255,
		255,
		0.8
	); 
	border: 2px solid #00bfff; 
	border-radius: 10px;
	padding: 20px; 
	width: 80%; 
	max-width: 400px; 
}
.sub-hero button {
	background-color: #00bfff;
	padding: 5px;
	border-color: 2px solid #000;
	color: #000;
}

@media (max-width: 768px) {
	.sub-hero {
		margin-top: 5px;
		width: 50%; 
		max-width: none; 
		padding: 15px; 
		left: 30%; 
	}
  nav ul {
    justify-content: space-between; 
  }

  nav ul li a {
    padding: 0.5em; 
    font-size: 0.8em; 
  }
}

.upgrades-reviews {
	background-color: white; 
	padding: 20px;
}

.subsections {
	display: flex; 
	justify-content: space-between;
}

.upgrades,
.reviews {
	width: 48%; 
	display: flex; 
	flex-direction: column; 
}

.upgrades {
	padding: 20px; 
}

.upgrade-items {
	display: flex; 
	flex-direction: column; 
	gap: 10px; 
}

.upgrade-row {
	display: flex; 
	gap: 10px; 
}

.upgrade-item {
	width: 50%; 
	text-align: center; 
}

.image-container {
	background-color: #87cefa;
	padding: 10px; 
	border-radius: 10px; 
}

.upgrade-item img {
	max-width: 100%;
	height: auto; 
}

.upgrade-item a {
	display: block; 
	margin-top: 10px; 
	font-weight: bold; 
}

.upgrade-item a:hover {
	text-decoration: underline; 
}

.reviews {
	padding: 20px; 
}

.reviews ul {
	padding: 0;
}

.reviews li {
	margin-bottom: 10px;
}


h4 {
	margin: 10px; 
	font-size: larger;
	display: flex;
	align-items: flex-start;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

@media (max-width: 768px) {
	.subsections {
		flex-direction: column; 
	}

	.upgrades,
	.reviews {
		width: 90%; 
	}
}
